.loader {
	position: absolute;
	bottom: 5rem;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
	pointer-events: none;
	display: none;
}

.loader--visible {
	display: block;
}

@media (max-width: 480px) {
	.loader {
		bottom: calc(5rem + env(safe-area-inset-bottom));
	}
}

.loader__text {
	font-size: 0.875rem;
	color: var(--cw-primary);
	line-height: 1.4;
}
